@import '~antd/dist/antd.css';


.App {
  display: flex;
  background-color: #a5a5a5;
  padding: 30px;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.font{
  color: rgb(49, 44, 44);
}


#root{
  text-align: center;
  background-color: rgb(243, 243, 243);
  width: 100%;
  height: 100%
}

.input-width{
  width: 100%;
}

.toggle-all{
  margin-top:15px;
}

.main-app{
  display: flex;
  justify-content: center;
}